Client/Client/Connected Services/ServiceReference1/Common2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Osoba_abs">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="Osoba_abs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Osoba_abs" nillable="true" type="tns:Osoba_abs" />
  <xs:complexType name="Osoba">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Osoba_abs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Osoba" nillable="true" type="tns:Osoba" />
</xs:schema>